
Week1_Trapped_Ions/CDL_Cohort_Week1_Team10.synctex.gz
Week1_Trapped_Ions/CDL_Cohort_Week1_Team10.out
Week1_Trapped_Ions/CDL_Cohort_Week1_Team10.log
Week1_Trapped_Ions/CDL_Cohort_Week1_Team10.aux
Week1_Trapped_Ions/CDL_CP1_SD.mp4
